<LPCOpenCfg>
	<symbol name="varExampleMemCfgDir" value="${prjDestToRoot}/${prjExampleBaseDir}/tool_configs/lpcxpresso_memory_xml"/>
	<module name="basic_example"/>
	<template section="filelist" name="${varExampleEnable}" tool="xpresso">
		<import src="${prjDestToRoot}/software/LPCUSBLib" dest="lpcusblib">
			<exclude>*Chips_Support*</exclude>
			<exclude>*doc*</exclude>
			<exclude>*UsersManual*</exclude>
			<exclude>*Device*</exclude>
			<exclude>*Endpoint*</exclude>
			<exclude>*Events*.c</exclude>
			<exclude>*EHCI*</exclude>
			<exclude>*LPC11UXX*</exclude>
			<exclude>*LPC18XX*</exclude>
			<exclude>*DCD*</exclude>
			<exclude>*Class*.c</exclude>
		</import>
	</template>
	<template section="setting" name="${varExampleEnable}_incdir" tool="xpresso">
		<value>${workspace_loc:/${ProjName}/lpcusblib/Drivers/USB}</value>
	</template>
	<template section="cfglist" name="${varExampleEnable}" tool="xpresso">
		<setting id="compiler.dialect" mode="replace">
			<value>gnu99</value>
		</setting>
	</template>
	<template section="cfglist" name="nxp_lpcxpresso_1769_${varExampleName}" tool="xpresso">
		<memoryConfiguration href="${varExampleMemCfgDir}/mem_heap_1769.xml"/>
	</template>
	<template section="setting" name="${varExampleEnable}_cdef" tool="xpresso">
		<value>${varChipFamilyDef}</value>
		<value>USB_HOST_ONLY</value>
	</template>
</LPCOpenCfg>
